@font-face {
  font-family: ondo;
  src: url("../fonts/FontsFree-Net-Ondo-Regular.ttf");
}
@font-face {
  font-family: lato;
  src: url("../fonts/Lato/Lato-Regular.ttf");
}
:root {
  --primary: #2D1E6B;
  --secendery: #DD00B8;
  --white: #fff;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, a:visited {
  text-decoration: none;
}

ul > li {
  list-style-type: none;
}

main {
  height: 400vh;
  background-color: var(--primary) !important;
}
@media only screen and (max-width: 600px) {
  main {
    background-color: #351F7A;
  }
}

.head-nav-menu {
  z-index: 999999;
  /* width: 100%; */
  transition: 1s;
  background: lightgray 0% 0%/100px 100px repeat, linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(217, 217, 217, 0.04) 100%);
  box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0);
  backdrop-filter: blur(25px);
}
.head-nav-menu > li {
  font-family: ondo;
  font-size: 18px;
  /* font-weight: 400; */
  letter-spacing: 0.72px;
  cursor: pointer;
}
.head-nav-menu > li > a {
  color: var(--white) !important;
  color: white !important;
}

.header {
  height: 100vh;
  background: #2F1F6F;
  background: url("../../assets/images/Artboard 1 1.png"), -91.869px 41.66px/102.737% 92.356% no-repeat;
  background-size: cover;
  mix-blend-mode: color-dodge;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media only screen and (max-width: 600px) {
  .header {
    background-size: 165%;
    background-repeat: no-repeat;
    background-position: 97% 85%;
  }
}
@media only screen and (max-widht: 600px) {
  .header > .header-dec {
    margin: 0 !important;
    padding: 0 !important;
  }
}
@media only screen and (max-width: 600px) {
  .header > .header-dec > figure > img {
    margin-top: 80px;
    width: 334px !important;
  }
}
.header > .header-dec > p {
  width: 602px;
  color: var(--white);
  font-family: lato;
  font-size: 18.715px;
  font-style: normal;
  font-weight: 400;
  line-height: 185.1%; /* 34.642px */
  letter-spacing: 0.749px;
  /* @media only screen and (max-width: ) { */
  /**/
  /* } */
}
@media only screen and (max-width: 600px) {
  .header > .header-dec > p {
    font-size: 16px !important;
    letter-spacing: 0.64px !important;
    width: 329px !important;
    background-color: rgba(0, 0, 0, 0.9);
  }
}
@media only screen and (max-width: 600px) {
  .header > .header-dec > .header-button {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-100%);
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 0.6;
  }
  .header > .header-dec > .header-button > div {
    margin: 25px;
  }
}
.header > .header-dec > .header-button > div {
  transition: all 0.4s linear;
}
@media only screen and (max-width: 600px) {
  .header > .header-dec > .header-numbers {
    position: absolute;
    top: 100%;
  }
}
.header > .header-dec > .header-numbers > figure > figcaption {
  color: #FFF;
  font-family: lato;
  font-size: 16.715px;
  font-style: normal;
  font-weight: 300;
  line-height: 120.1%; /* 34.642px */
  letter-spacing: 0.749px;
  text-transform: capitalize;
}

.right-circle {
  top: 50px;
  left: 20px;
  width: 341px;
  height: 341px;
  /* border-radius: 50%; */
  background: var(--secendery);
  filter: blur(292px);
  /* position: absolute; */
}

/* @keyframes textm { */
/*   from{ */
/*     transform: translateX(+1000); */
/*   } */
/*   to{ */
/*     transform: translateX(-1000px); */
/*   } */
/* } */
.glass-mover {
  width: 3356px;
  height: 90px;
  flex-shrink: 0;
  transform: translateY(-40px) rotate(-1.983deg);
}
@media only screen and (max-width: 600px) {
  .glass-mover {
    transform: translateY(-110px) rotate(-1.983deg);
    width: 803.767px;
    height: 49.786px;
  }
}
.glass-mover > div {
  border: 1px solid rgba(186, 186, 186, 0.5);
  background: lightgray 0% 0%/100px 100px repeat, linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(217, 217, 217, 0.04) 100%);
  box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0);
  backdrop-filter: blur(25px);
}
.glass-mover > div > figure {
  transition: 1s;
  /* animation:textm 4s linear infinite; */
  margin: 0 20px;
}
@media only screen and (max-width: 600px) {
  .glass-mover > div > figure {
    width: 191.872px;
    height: 19.914px;
    flex-shrink: 0;
  }
}
@media only screen and (max-width: 600px) {
  .glass-mover > div > figure > img {
    width: 20px;
    height: 20px;
  }
}
.glass-mover > div > figure > figcaption {
  color: #FFF;
  font-family: Ondo;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 110.6%; /* 33.18px */
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
@media only screen and (max-width: 600px) {
  .glass-mover > div > figure > figcaption {
    font-size: 16.595px;
    font-weight: 800;
    line-height: 110.6%; /* 18.354px */
    letter-spacing: 0.664px;
    text-transform: uppercase;
  }
}

.mobile-navigation-bar {
  top: 20px;
  z-index: 999999;
}
.mobile-navigation-bar > .mobile-logo {
  z-index: 200;
}
.mobile-navigation-bar > .mobile-logo > img {
  width: 100px;
  transform: translateY(25%);
}
.mobile-navigation-bar > .mobile-menu > i {
  margin-right: 10px;
  color: #fff;
  font-size: 25px;
}
.mobile-navigation-bar > .mobile-menu > div {
  position: fixed;
  top: 0;
  left: -3000px;
  background-color: rgba(0, 0, 0, 0.7);
}
.mobile-navigation-bar > .mobile-menu > div > ul {
  justify-content: start !important;
}
.mobile-navigation-bar > .mobile-menu > div > ul > li {
  transition: 1s;
  font-family: ondo;
  font-size: 18px;
  /* font-weight: 400; */
  letter-spacing: 0.72px;
  cursor: pointer;
}
.mobile-navigation-bar > .mobile-menu > div > ul > li > a {
  color: var(--white) !important;
}

.favorite-games > .row {
  display: grid;
  place-items: center;
}
.favorite-games > .row > h2 {
  display: grid;
  place-items: center;
}
.favorite-games > .row > h2 > figure {
  width: 718px;
}
@media only screen and (max-width: 600px) {
  .favorite-games > .row > h2 > figure {
    width: 334px;
  }
}
.favorite-games > .row > p {
  width: 602px;
  color: var(--white);
  font-family: lato;
  font-size: 18.715px;
  font-style: normal;
  font-weight: 400;
  line-height: 185.1%; /* 34.642px */
  letter-spacing: 0.749px;
  line-height: 185.1%; /* 29.616px */
  letter-spacing: 0.64px;
  width: 518px;
  font-size: 1rem;
}
@media only screen and (max-width: 600px) {
  .favorite-games > .row > p {
    width: 361px !important;
    line-height: 171.6%; /* 27.456px */
  }
}
.favorite-games > .row > figure > img {
  width: 122%;
  transform: translateX(-8.5%);
}
@media only screen and (max-width: 980px) {
  .favorite-games > .row > .header-button {
    flex-shrink: 0;
  }
  .favorite-games > .row > .header-button img {
    display: grid;
    place-items: center;
    width: 100%;
  }
  .favorite-games > .row > .header-button svg {
    width: 138px;
    height: 44.017px;
  }
}

.virtual-reality {
  display: grid;
  place-items: center;
}
.virtual-reality > div {
  width: 1240px;
  height: 556px;
  border-radius: 10px;
  background-image: url("../images/Rectangle 5.png");
  box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0);
  backdrop-filter: blur(25px);
}
@media only screen and (max-width: 1300px) {
  .virtual-reality > div {
    width: 940px;
    height: 550px;
  }
  .virtual-reality > div > figure {
    border: 1px solid var(--white);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    width: 425px !important;
    height: 339px !important;
    transform: translateY(22.5%) !important;
    margin-right: 5px;
  }
  .virtual-reality > div > figure > img {
    width: 100% !important;
  }
}
@media only screen and (max-width: 980px) {
  .virtual-reality > div {
    width: 328px;
    height: 788px;
    background-image: url("../images/Rectangle 5(mobile).png");
    position: relative;
  }
  .virtual-reality > div > figure {
    width: 362px;
    height: 389px;
    border: none;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(-6.5%) translateX(-2%) !important;
  }
  .virtual-reality > div > div {
    transform: translateY(-50%) !important;
    margin-top: 30px !important;
  }
  .virtual-reality > div > div > figure {
    width: 296px !important;
  }
  .virtual-reality > div > div > figure > img {
    transform: translateX(0) !important;
  }
  .virtual-reality > div > div > p {
    width: 281px !important;
    line-height: 171.6% !important; /* 27.456px */
  }
  .virtual-reality > div > div > div {
    margin-left: 20px;
    width: 138px !important;
    height: 44.017px !important;
  }
  .virtual-reality > div > div > div img {
    display: grid;
    place-items: center;
    width: 100%;
  }
  .virtual-reality > div > div > div svg {
    width: 138px;
    height: 44.017px;
  }
}
.virtual-reality > div > figure {
  width: 725px;
  height: 639px;
  flex-shrink: 0;
  transform: translateY(-13.5%);
  padding: 0 !important;
}
.virtual-reality > div > div {
  width: 463px;
  transform: translateY(-10%);
}
.virtual-reality > div > div > figure {
  width: 100%;
}
.virtual-reality > div > div > figure > img {
  width: 100%;
}
@media only screen and (max-width: 1300px) {
  .virtual-reality > div > div {
    width: 363px;
  }
  .virtual-reality > div > div > figure > img {
    transform: translateX(-50%);
  }
  .virtual-reality > div > div .header-button-two {
    transform: translateY(50%);
  }
}
.virtual-reality > div > div > p {
  width: 100%;
  color: #FFF;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 185.1%; /* 29.616px */
  letter-spacing: 0.64px;
}
.virtual-reality > div > div > .header-button-two {
  width: 232px;
  display: grid;
  place-items: center;
}

.glass-mover2 {
  width: 3356px;
  height: 90px;
  flex-shrink: 0;
}
@media only screen and (max-width: 600px) {
  .glass-mover2 {
    width: 803.767px;
    height: 49.786px;
  }
}
.glass-mover2 > div {
  background: lightgray 0% 0%/100px 100px repeat, linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(217, 217, 217, 0.04) 100%);
  box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0);
  backdrop-filter: blur(25px);
}
.glass-mover2 > div > figure {
  transition: 1s;
  /* animation:textm 4s linear infinite; */
  margin: 0 20px;
}
@media only screen and (max-width: 600px) {
  .glass-mover2 > div > figure {
    width: 191.872px;
    height: 19.914px;
    flex-shrink: 0;
  }
}
@media only screen and (max-width: 600px) {
  .glass-mover2 > div > figure > img {
    width: 20px;
    height: 20px;
  }
}
.glass-mover2 > div > figure > figcaption {
  color: #FFF;
  font-family: Ondo;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 110.6%; /* 33.18px */
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
@media only screen and (max-width: 600px) {
  .glass-mover2 > div > figure > figcaption {
    font-size: 16.595px;
    font-weight: 800;
    line-height: 110.6%; /* 18.354px */
    letter-spacing: 0.664px;
    text-transform: uppercase;
  }
}

/*# sourceMappingURL=master.css.map */
