*{margin: 0;padding: 0;box-sizing: border-box;}
@font-face {
  font-family: ondo;
  src: url('../fonts/FontsFree-Net-Ondo-Regular.ttf');
}
@font-face {
  font-family: lato;
  src: url('../fonts/Lato/Lato-Regular.ttf');
}
:root{
  --primary : #2D1E6B;
  --secendery : #DD00B8;
  --white : #fff;
  --black : #000;
}
a,a:visited{text-decoration: none;}

ul>li{list-style-type: none;}

main{
  height: 400vh;
  background-color: var(--primary) !important;
}
.header{
  height: 100vh;
  background: url('../../assets/images/Artboard\ 1\ 1.png'), -91.869px 41.66px / 102.737% 92.356% no-repeat;
  background-size: cover;
  mix-blend-mode: color-dodge;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  .head-nav{
    /* background-color: rgba(0, 0, 0,0.5); */
    &>.head-nav-logo{
      /* border: 1px solid red; */
    }
    &>.head-nav-menu{
      &>li{
        font-family: ondo;
        font-size: 18px;
        /* font-weight: 400; */
        letter-spacing: 0.72px;
        &>a{
          color: var(--white) !important;
          color: white !important;
        }
      }
    }
  }
  >.header-dec{
    >p{
      width: 602px;
      color: #FFF;
      font-family: lato;
      font-size: 18.715px;
      font-style: normal;
      font-weight: 400;
      line-height: 185.1%; /* 34.642px */
      letter-spacing: 0.749px;
    }
    >.header-button{
      >div{
        transition: all .4s linear;
      }
    }
    >.header-numbers{
      >figure{
        >figcaption{
          color: #FFF;
          font-family: lato;
          font-size: 18.715px;
          font-style: normal;
          font-weight: 400;
          line-height: 185.1%; /* 34.642px */
          letter-spacing: 0.749px;
          text-transform: capitalize;
        }
      }
    }
  }
}
.right-circle{
  top: 50px;
  right: 20px;
  width: 341px;
  height: 341px;
  border-radius: 50%;
  background: var(--secendery);
  filter: blur(292px);
  position: absolute;
  border: 1px solid red;
}
@keyframes textm {
  from{
    transform: translateX(+1000);
  }
  to{
    transform: translateX(-1000px);
  }
}
.glass-mover{
  width: 2455px;
  height: 90px;
  transform: translateY(-30px) rotate(-1.983deg);
  flex-shrink: 0;
  >div{
    border: 1px solid #fff;
    background: url(<path-to-image>), lightgray 0% 0% / 100px 100px repeat, linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(217, 217, 217, 0.04) 100%);
    box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0.00);
    backdrop-filter: blur(25px);
    >figure{
      transition: 1s;
      /* animation:textm 4s linear infinite; */
      margin: 0 20px;
      >figcaption{
        color: #FFF;
        font-family: Ondo;
        font-size: 30px;
        font-style: normal;
        font-weight: 800;
        line-height: 110.6%; /* 33.18px */
        letter-spacing: 1.2px;
        text-transform: uppercase;
      }
    }
  }
}
